.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #666;
    width: 600px;
  }

  &__header-wrapper {
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__text {
    color: white;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 20px;
  }
}

.btn__close {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin: 0;
  font-size: 25px;
}

.actions__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.actions__btn {
  margin: 10px;
  padding: 10px 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  width: 80px;
  font-size: 16px;
}

.btn__wrapper {
  text-align: center;
}


